<h2>Reporter output</h2><table><tr><td>Click on Bank Manager Login Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Click on Add Customer Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[1]/button[1]]</td></tr>
<tr><td>Send First Name [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='First Name']] To First Name Field[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='First Name']]</td></tr>
<tr><td>Send Last Name [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='Last Name']] To Last Name Field[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Send Postcode[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='Post Code']] To Postcode Field[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Click on Add Customer Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get Text From Popup : Customer added successfully with customer id :6</td></tr>
<tr><td>Accept Popup</td></tr>
<tr><td>Click on Home Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
<tr><td>Click on Bank Manager Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Click on Open Account Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[@ng-click='openAccount()']]</td></tr>
<tr><td>Search Customer : Jethalal Gada</td></tr>
<tr><td>Select Currency : Pound</td></tr>
<tr><td>Click on Process Button</td></tr>
<tr><td>Get Text From Popup : Account created successfully with account Number :1016</td></tr>
<tr><td>Accept Popup</td></tr>
<tr><td>Click on Home Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
<tr><td>Click on Customer Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select Customer from dropdown menu</td></tr>
<tr><td>Click on Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>To Verify Logout Button </td></tr>
<tr><td>Click on Logout Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Logout')]]</td></tr>
<tr><td>To Verify Message  Your Name</td></tr>
<tr><td>To obtain actual Message  Your Name :</td></tr>
<tr><td>Click on Home Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
<tr><td>Click on Customer Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select Customer from dropdown menu</td></tr>
<tr><td>Click on Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>Click on Deposit Tab[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[normalize-space()='Deposit']]</td></tr>
<tr><td>Enter 100 Amount to Amount Field[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='amount']]</td></tr>
<tr><td>Click on Deposit Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>To Verify Message  Deposit Successful</td></tr>
<tr><td>To obtain actual Message  Deposit Successful</td></tr>
<tr><td>Click on Bank Manager Login Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Click on Add Customer Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[1]/button[1]]</td></tr>
<tr><td>Send First Name [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='First Name']] To First Name Field[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='First Name']]</td></tr>
<tr><td>Send Last Name [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='Last Name']] To Last Name Field[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Send Postcode[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='Post Code']] To Postcode Field[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Click on Add Customer Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get Text From Popup : Customer added successfully with customer id :6</td></tr>
<tr><td>Accept Popup</td></tr>
<tr><td>Click on Home Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
<tr><td>Click on Bank Manager Login Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Click on Open Account Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[@ng-click='openAccount()']]</td></tr>
<tr><td>Search Customer : Jethalal Gada</td></tr>
<tr><td>Select Currency : Pound</td></tr>
<tr><td>Click on Process Button</td></tr>
<tr><td>Get Text From Popup : Account created successfully with account Number :1016</td></tr>
<tr><td>Accept Popup</td></tr>
<tr><td>Click on Home Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
<tr><td>Click on Customer Login Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select Customer from dropdown menu</td></tr>
<tr><td>Click on Login Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>To Verify Logout Button </td></tr>
<tr><td>Click on Logout Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Logout')]]</td></tr>
<tr><td>To Verify Message  Your Name</td></tr>
<tr><td>To obtain actual Message  Your Name :</td></tr>
<tr><td>Click on Home Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
</table>