<html>
<head>
<title>TestNG:  Smoke Test</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>Smoke Test</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>2/0/0</td>
</tr><tr>
<td>Started on:</td><td>Tue Dec 13 21:36:16 GMT 2022</td>
</tr>
<tr><td>Total time:</td><td>69 seconds (69206 ms)</td>
</tr><tr>
<td>Included groups:</td><td>smoke </td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.bank.testsuite.BankTest.customerShouldDepositMoneySuccessfully()'><b>customerShouldDepositMoneySuccessfully</b><br>Test class: com.bank.testsuite.BankTest<br/>
<a href="#Output-1430207342" onClick='toggleBox("Output-1430207342", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1430207342" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1430207342">
Click on Bank Manager Login Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Bank Manager Login')]]<br/>
Click on Add Customer Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[1]/button[1]]<br/>
Send First Name [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='First Name']] To First Name Field[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='First Name']]<br/>
Send Last Name [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='Last Name']] To Last Name Field[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='Last Name']]<br/>
Send Postcode[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='Post Code']] To Postcode Field[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='Post Code']]<br/>
Click on Add Customer Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[@type='submit']]<br/>
Get Text From Popup : Customer added successfully with customer id :6<br/>
Accept Popup<br/>
Click on Home Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Home')]]<br/>
Click on Bank Manager Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Bank Manager Login')]]<br/>
Click on Open Account Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[@ng-click='openAccount()']]<br/>
Search Customer : Jethalal Gada<br/>
Select Currency : Pound<br/>
Click on Process Button<br/>
Get Text From Popup : Account created successfully with account Number :1016<br/>
Accept Popup<br/>
Click on Home Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Home')]]<br/>
Click on Customer Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Customer Login')]]<br/>
Select Customer from dropdown menu<br/>
Click on Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Login')]]<br/>
To Verify Logout Button <br/>
Click on Logout Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Logout')]]<br/>
To Verify Message  Your Name<br/>
To obtain actual Message  Your Name :<br/>
Click on Home Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Home')]]<br/>
Click on Customer Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Customer Login')]]<br/>
Select Customer from dropdown menu<br/>
Click on Login Button [[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[contains(text(),'Login')]]<br/>
Click on Deposit Tab[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[normalize-space()='Deposit']]<br/>
Enter 100 Amount to Amount Field[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //input[@placeholder='amount']]<br/>
Click on Deposit Button[[ChromeDriver: chrome on WINDOWS (e5d8d7749bf3422ac13c4accda9db2e4)] -> xpath: //button[@type='submit']]<br/>
To Verify Message  Deposit Successful<br/>
To obtain actual Message  Deposit Successful<br/>
</div>
</td>
<td></td>
<td>19</td>
<td>com.bank.testsuite.BankTest@eb21112</td></tr>
<tr>
<td title='com.bank.testsuite.BankTest.customerShouldLoginAndLogoutSuceessfully()'><b>customerShouldLoginAndLogoutSuceessfully</b><br>Test class: com.bank.testsuite.BankTest<br/>
<a href="#Output-950125603" onClick='toggleBox("Output-950125603", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-950125603" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-950125603">
Click on Bank Manager Login Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Bank Manager Login')]]<br/>
Click on Add Customer Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[1]/button[1]]<br/>
Send First Name [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='First Name']] To First Name Field[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='First Name']]<br/>
Send Last Name [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='Last Name']] To Last Name Field[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='Last Name']]<br/>
Send Postcode[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='Post Code']] To Postcode Field[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //input[@placeholder='Post Code']]<br/>
Click on Add Customer Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[@type='submit']]<br/>
Get Text From Popup : Customer added successfully with customer id :6<br/>
Accept Popup<br/>
Click on Home Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Home')]]<br/>
Click on Bank Manager Login Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Bank Manager Login')]]<br/>
Click on Open Account Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[@ng-click='openAccount()']]<br/>
Search Customer : Jethalal Gada<br/>
Select Currency : Pound<br/>
Click on Process Button<br/>
Get Text From Popup : Account created successfully with account Number :1016<br/>
Accept Popup<br/>
Click on Home Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Home')]]<br/>
Click on Customer Login Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Customer Login')]]<br/>
Select Customer from dropdown menu<br/>
Click on Login Button [[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Login')]]<br/>
To Verify Logout Button <br/>
Click on Logout Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Logout')]]<br/>
To Verify Message  Your Name<br/>
To obtain actual Message  Your Name :<br/>
Click on Home Button[[ChromeDriver: chrome on WINDOWS (99ed338b45f0e61266f30905d9a2c64c)] -> xpath: //button[contains(text(),'Home')]]<br/>
</div>
</td>
<td></td>
<td>9</td>
<td>com.bank.testsuite.BankTest@eb21112</td></tr>
</table><p>
</body>
</html>